<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta name="24d65a650bbd2eaa31f5180a86035a08397b9318" content="4376fd0c3608030298aae2676e0777810925e2fa" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121222911-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121222911-1');
    </script>

    <title>Swell</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAw2WdmrCyk_il58HA0KrbHnzAb8RNwwMQ&libraries=geometry" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
